.box_subject{
    width: 50%;
    height: 50px;
    color: #ffff;
    background-color: #959595;
    display: flex;
    justify-content: left;
    margin-top: 50px;

    h6{
        margin-top: 10px;
        margin-left: 30px;
    }
}