.Wrapper {
    position: absolute;
    width: 100%;

}

.Footer{
    background-color: rgb(234, 80, 69);
    height: 56px;
    bottom: 0px;

    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
}